# {{ ansible_managed }}

upstream {{ item.name }} {
    {% if item.lb_method is defined %}
    {{ item.lb_method }}
    {% endif %}
    {% for backend in item.backends %}
    server {{ backend }};
    {% endfor %}
}

server {
    listen {{ nginx_reverse_port }};
    server_name {{ item.domains|join(' ') }};
    location / {
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host      $http_host;
        proxy_pass         http://{{ item.name }};
    }
}
