# {{ ansible_managed }}

upstream {{ item.name }} {
    {% if item.lb_method is defined %}
    {{ item.lb_method }};
    {% endif %}
    {% for backend in item.backends %}
    server {{ backend }};
    {% endfor %}
}

{% if item.ssl_enabled |default(false) %}
server {
    listen 80;
    server_name {{ item.domains|join(' ') }};
    return 301 https://$host$request_uri;
}
{% endif %}

server {
    {% if not item.ssl_enabled -%}
    listen {{ nginx_reverse_port }};
    {%- endif %}
    {%- if item.ssl_enabled |default(false) -%}
    listen {{ nginx_reverse_ssl_port}} ssl;

    ssl_certificate {{ item.ssl_certificate }};
    ssl_certificate_key {{ item.ssl_certificate_key }};
    {% endif %}

    server_name {{ item.domains|join(' ') }};

    location / {
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host      $http_host;
        proxy_pass         http://{{ item.name }};
    }
}
